.thumbnail .caption-full {
    padding: 9px;
}

.img-responsive {
    width: 100%;
}

body {
  padding-top: 70px !important;
}

.thumbnail {
    padding: 0;
}

#more_info {
    margin-left: 5px;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
  border-radius:0;
}

/*makes an anchor inactive(not clickable)*/
.inactive-link {
   pointer-events: none;
   cursor: default;
}

.resume-heading .social-btns{
  margin-top:15px;
}


.resume-heading .social-btn-holder{
  padding:5px;
}


/*social buttons*/
.btn-social{
  color: white;
  opacity:0.9;
}
.btn-social:hover {
  color: white;
  opacity:1;
}

.btn-facebook {
background-color: #3b5998;
opacity:0.9;
}

.btn-linkedin {
background-color:#0e76a8;
opacity:0.9;
}

.btn-lattes {
background-color:#7a7a7a;
opacity:0.9;
}

.btn-github{
  background-color:#000000;
  opacity:0.9;
}

.show_info {
  height: 0;
  opacity: 0;
  transition: opacity 1s, height 1s;
  -ms-transition: opacity 1s, height 1s;
  -moz-transition: opacity 1s, height 1s;
  -webkit-transition: opacity 1s, height 1s;
}

.show_info.show {
  opacity: 1;
  height: 200px;
  transition: opacity 2s, height 1s;
  -ms-transition: opacity 2s, height 1s;
  -moz-transition: opacity 2s, height 1s;
  -webkit-transition: opacity 2s, height 1s;
}

.show_to_delete:hover {
  background-color: rgba(255, 0 , 0, 0.7) !important;
  transition: background-color 0.5s;
}

.show_to_delete {
  background-color: lightgreen !important;
  color: green !important;
}
